<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
</head>
<body>
<form action="/admin/login" method="post">
    이메일: <input type="text" name="username"> <br>
    비밀번호: <input type="password" name="password"> <br>
    <input type="submit" value="관리자 로그인">
</form>

<!-- 에러 메시지를 표시할 부분 -->
<div th:if="${param.error}">
    <span id="admin-login-error" style="color: red;" th:text="'잘못된 이메일 또는 비밀번호입니다.'"></span>
</div>

</body>
</html>
